@import '@/styles/color.scss';
@import '@/styles/media-queries.scss';

button {
    font-size: 1.4rem;
    padding: 0.6rem 3rem;
    border: 2px solid $primary;
    color: $primary;
    transition: 0.2s ease-out;
    background: transparent;
    font-weight: bold;

    &:hover {
        color: $dark;
        overflow-y: auto;
        box-shadow: 0px 0px 15px $primary;
        background: $primary;
        cursor: pointer;
    }
}